<div>
	<h2 class="sb-title">Size Tokens</h2>

	<ul class="sb-list">
		{% for size, value in _context.size %}
			<li class="sb-list__item">
				<span class="sb-list__label">{{size}}</span>
				<span class="sb-list__value">{{value.value}}px</span>
				<span class="sb-list__custom-property">
					<code class=" sb-custom-property-name">var(--size-{{size}})</code>
				</span>
				<span class="sb-list__visualization" style="width: {{value.value}}px; height: {{value.value}}px; background-color: var(--color-sb-visualization);"></span>
			</li>
		{% endfor %}
	</ul>
</div>
