<div>
	<h2 class="sb-title">Font Sizes</h2>

	<ul class="sb-list">
		{% for fontSize, value in _context.fontSize|reverse %}
			<li class="sb-list__item">
				<span class="sb-list__label">{{fontSize}}</span>
				<span class="sb-list__value">{{value.value}}px</span>
				<span class="sb-list__custom-property">
					<code class=" sb-custom-property-name">var(--font-size-{{fontSize}})</code>
				</span>

				<p style="font-size: var(--font-size-{{fontSize}}); margin: 0;">{{fontSize|capitalize}}
				</p>
			</li>
		{% endfor %}
	</ul>
</div>
