{#
 # Available Props:
 # - pull_quote__style: bar-left, bar-right, or quote-left
 #
 # Available Variables:
 # - blockquote__quote (required)
 # - blockquote__attribution
 # - blockquote__aria_label
 #}

{% set blockquote__base_class = 'blockquote' %}
{% set blockquote__style = blockquote__style|default('bar-left') %}
{% set blockquote__aria_label = blockquote__aria_label|default('Blockquote Element by Lorem Ipsum') %}
{# If blockquote__attributes is not defined, set it to an empty object by default #}
{% set blockquote__attributes = blockquote__attributes|default({}) %}

{% set blockquote__attributes = blockquote__attributes|merge({
  'data-component-width': 'content',
  'data-blockquote-style': blockquote__style,
  'aria-label': blockquote__aria_label,
  class: bem(blockquote__base_class, blockquote__modifiers, blockquote__blockname),
}) %}

<aside {{ add_attributes(blockquote__attributes) }}>
  <div {{ bem('inner', [], blockquote__base_class) }}>
    <blockquote {{ bem('blockquote', [], blockquote__base_class) }}>
      {% include "@components/typography/text/blockquote.twig" with {
        blockquote__content: blockquote__quote,
        blockquote__blockname: blockquote__base_class,
        blockquote__base_class: 'quote',
      } %}
      {% if blockquote__attribution %}
        <cite {{ bem('attribution', [], blockquote__base_class) }}>—{{ blockquote__attribution }}</cite>
      {% endif %}
    </blockquote>
  </div>
</aside>
