{#
 # Available Props:
 # - pull_quote__style: bar-left, bar-right, or quote-left
 #
 # Available Variables:
 # - block_quote__quote (required)
 # - block_quote__attribution
 # - block_quote__aria_label
 #}

{% set block_quote__base_class = 'block-quote' %}
{% set block_quote__style = block_quote__style|default('bar-left') %}
{% set block_quote__aria_label = block_quote__aria_label|default('Blockquote Element by Lorem Ipsum') %}
{# If block_quote__attributes is not defined, set it to an empty object by default #}
{% set block_quote__attributes = block_quote__attributes|default({}) %}

{% set block_quote__attributes = block_quote__attributes|merge({
  'data-component-width': 'content',
  'data-block-quote-style': block_quote__style,
  'aria-label': block_quote__aria_label,
  class: bem(block_quote__base_class, block_quote__modifiers, block_quote__blockname),
}) %}

<aside {{ add_attributes(block_quote__attributes) }}>
  <div {{ bem('inner', [], block_quote__base_class) }}>
    <blockquote {{ bem('blockquote', [], block_quote__base_class) }}>
      {% include "@components/text/text/02-blockquote.twig" with {
        blockquote__content: block_quote__quote,
        blockquote__blockname: block_quote__base_class,
        blockquote__base_class: 'quote',
      } %}
      {% if block_quote__attribution %}
        <cite {{ bem('attribution', [], block_quote__base_class) }}>—{{ block_quote__attribution }}</cite>
      {% endif %}
    </blockquote>
  </div>
</aside>
