{#
/**
 * Available variables:
 * - icon__base_class - base class name
 * - icon__modifiers - modifiers for icons (array)
 * - icon__blockname - blockname prepended to the base classname
 * - icon__name - the name of the icon
 * - icon__role - a11y role
 * - icon__title - a11y title
 * - icon__desc - a11y description
 */
#}
{% set icon__base_class = icon_base_class|default('icon') %}
{# If `directory` is defined, set the path relative for Drupal.
 # Otherwise, set the path relative to the Component Library. #}
{% set icon__url = directory ? '/' ~ directory ~ '/dist/' %}

{% if directory is null %}
	{% set icon_url = 'themes/custom/smith/dist/' %}
{% endif %}

{% set unique__name = icon__name ~ '-' ~ random() %}

<svg {{ bem(icon__base_class, icon__modifiers, icon__blockname, icon__extra_class) }} {% if icon__decorative %} aria-hidden="true" role="img" {% elseif icon__role %} role="{{ icon_role }}" {% endif %} {% if icon_title %} aria-labelledby="title-{{ unique_name }}" {% endif %} {% if icon_desc %} aria-describedby="desc-{{ unique_name }}" {% endif %}>
	{% if icon_title %}
		<title id="title-{{ unique_name }}">{{ icon__title }}</title>
	{% endif %}
	{% if icon__desc %}
		<desc id="desc-{{ unique__name }}">{{ icon__desc }}</desc>
	{% endif %}
	<use xlink:href="{{ icon__url }}icons-1.svg#{{ icon__name }}"></use>
</svg>
